html {
  background-color: black;
}

body {
  background: #EFEDE4;
  margin: 0;
  width: 100vw;
}

.home {
  font-family: 'Poppins', sans-serif;
  color: white;
}

.hero {
  background: #0D0A29;
  height: 100vh;
  width: 100%;
}

.hero-content {
  height: 80%;
  padding: 130px 0 0 20px;
  display: flex;
  justify-content: center;
  margin: 0 auto 0 auto;
}

.hero-content img {
  height: 95%;
  background-blend-mode: darken;
  mix-blend-mode: hard-light;
}

.overlay-title {
  color: white;
  position: absolute;
  text-align: center;
  z-index: 10;
}

.overlay-title h1{
  margin: 0;
  padding: 0;
  font-size: 190px
}

.overlay-title h3 {
  margin-top: -30px;
  padding: 0;
  font-size: 60px;
}

main {
  margin: 50px 50px 0 50px;
  display: flex;
  flex-direction: column;
}

.about {
  margin: 0 0 50px 0;
  display: flex;
  width: 100%;
}

.club-bio {
  position: absolute;
}

.club-bio h4 {
  padding: 30px 10% 0 70%;
  display: block;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #280A7D;
}

#hr1 {
  height: 8px;
}

.club-goal {
  width: 50%;
  position: relative;
  height: 700px;
}

.club-goal h2 {
  position: absolute;
  width: 80%;
  font-size: 54px;
  line-height: 65px;
}

#blurryPic {
  position: absolute;
  width: 400px;
  margin: 80px 0 0 0;
  padding: 180px 0 20px 250px;
}

#hr2 {
  height: 8px;
  width: 60%;
  margin-top: 60px;
  margin-bottom: 50px;
}

.overlay-title h1 {
  font-size: 190px;
  line-height: 190px;
  color: #FEFFE5;
}

.overlay-title h3 {
  font-size: 60px;
  margin: 0;
  padding: 0;
}

#unite-logo {
  position: absolute;
  width: 35vw;
  left: 61%;
  padding-top: 390px;
  z-index: 99;
}

#curve-vector {
  position: absolute;
  width: 35vw;
  left: 59%;
  padding-top: 608px;
  z-index: 90;
}

.event {
  padding: 50px 80px 100px 80px;
  background-color: #1A1F4D;
  color: white;
}

.event-section-info {
  width: 60%;
}

.event h2 {
  font-family: Poppins;
  font-size: 60px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: -0.005em;
}

table {
  font-size: 28px;
}

.event-details {
  width: 90%;
  display: block;
  margin: auto;
  display: flex;
}

.signUp-card {
  display: none;
  width: 20%;
}

.signUp-card img {
  width: 100%;
}

/* table things */
#ques {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

#facts {
  font-family: 'Poppins', sans-serif;
}

#f2 {
  font-weight: 200;
}

table {
  border-spacing: 30px 15px;
}

td {
  vertical-align: text-top;
}

#arrow-vector {
  position: relative;
  top: -60%;
  left: 12%;
  z-index: 80;
}

.featuredSpeakers {
  padding: 20px 0 50px 0;
}

.divider {
  height: 50px;
}

.featuredSpeakers h2 {
  color: #1A1F4C;
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 20px;
}

.speakerCard {
  background: #F3F3F0;
  display: flex;
  color: #3E4474;
  height: 350px;
}

.speaker-profile-pic {
  width: 30%;
}

.speaker-profile-pic img {
  height: 100%;
}

.speaker-bio {
  width: 60%;
  display: block;
  margin: auto;
}

.speakerCard h3{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  size: 68px;
  line-height: 40px;
}

.speaker-bio p {
  margin-bottom: 20px;
}

#speaker-name1, #socials1 {
  display: none;
}

#speaker-name2, #socials2 {
  display: block;
}

.speaker-socials {
  display: flex;
  flex-direction: column;
}

#socials2 {
  margin-bottom: 10px;
}

#socials1 a:hover, #socials2 a:hover {
  color: #797baf;
}

#socials2 a{
  font-size: 30px;
}



/* ------ MOBILE ------- */
@media screen and (max-width: 767px) {
  svg {
    display: none;
  }

  .navButtons {
    background-color: #0D0A29;
  }

  .hero-content {
    padding: 0;
  }

  .hero-content img {
    width: 250px;
    padding: 0;
    object-fit: contain;
  }

  .overlay-title h1 {
    font-size: 64px;
    padding: 80px 0 0 0;
  }
  
  .overlay-title h3 {
    font-size: 24px;
    margin: 0;
    padding: 0;
  }

  main {
    margin: 0;
    flex-direction: column;
  }

  .club-goal {
    order: 2;
    padding: 0px 25px 0px 15px;
    width: 100%;
  }

  #hr1 {
    order: 1;
  }

  #hr2 {
    order: 3;
  }

  #hr1, #hr2 {
    margin: 5px auto 5px auto;
    height: 5px;
    width: 90%;
  }

  .club-goal h2 {
    font-size: 1.6em;
    width: 70%;
    position: unset;
  }

  #blurryPic {
    position: absolute;
    background: mix-blend-mode;
    z-index: 30;
    width: unset;
    padding: 0 0 0 100px;
    transform:translateY(-180px);
  }

  #unite-logo, #curve-vector, #arrow-vector {
    display: none !important;
  }

  .event-section-info {
    width: 100%;
  }

  .event {
    order: 4;
    padding: 25px 25px 20px 20px;
  }

  .event h2 {
    font-size: 1.6em;
    line-height: unset;
  }

  table {
    font-size: 13px;
    border-spacing: 8px;
  }

  .signUp-card {
    display: none;
  }

  .featuredSpeakers {
    order: 5;
    padding-bottom: 0;
  }

  .featuredSpeakers h2{
    font-size: 30px;
    margin: 0 0 0 10px;
  }

  .speakerCard {
    display: block;
    height: unset;
    padding: 10px 0 10px 0;
  }

  #speaker-name1, #socials1 {
    display: block;
  }

  #speaker-name2, #socials2 {
    display: none;
  }

  #socials1 {
    margin: -15px 0 0 20px;
  }

  .speaker-profile-pic {
    width: 100%;
    display: flex;
    align-items:flex-end;
  }

  .speaker-profile-pic img {
    width: 50%;
  }

  .speaker-profile-pic h3 {
    margin-left: 20px;
    font-size: 2em;
  }

  .speaker-bio {
    width: 90%;
    display: block;
    margin: 20px auto 0 auto;
  }

  .club-bio {
    position: unset;
    margin: 0;
    padding: 20px 20px 20px 20px;
    order: 8;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .club-bio h4 {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  
}




/* ------ TABLET ------- */
@media screen and (min-width: 768px) and (max-width: 1023px) {
}
