/* Register style */
body {
  margin: 0;
  width: 100vw;
}



.registerForm {
  position: relative;
  z-index: 999;
  width: 55%; 
}



/* MAPS */
.mapouter {
  position: fixed;
  height: 100vh;
  width: 100vw;
  margin: 0;
  z-index: 0;
}

.gmap_canvas {
  overflow: hidden;
  background: none!important;
  height: 100vh;
  width: 100vw;
  margin: 0;
  z-index: 0;
}

.gmap_canvas iframe {
  height: 100vh;
  width: 100vw;
  margin: 0;
  z-index: 0;
}

/* ------ TABLET ------- */
@media screen and (min-width: 788px) and (max-width: 1180px) {
  .registerForm {
    padding: 12% 0 0 15%;
  }
  iframe {
    width: 600px;
  }
}

/* ------ MOBILE ------- */
@media screen and (max-width: 787px) {
  .registerForm {
    margin: 0;
    padding: 35% 0 0 10%;
    width: 60%; 
    height: 5000px;
  }

  #form-iframe {
    width: 90vw;
    height: 2000px;
  }
  
  #map-iframe {
    width: 400px;
  }
}