@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700;800&family=Work+Sans:wght@200;400;500&display=swap');

/* FONTS
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
*/

html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
  width: 100vw !important;
  overflow-x: hidden !important;
  margin: 0;
}

body {
  margin: 0;
}


::-webkit-scrollbar {
  width: 5px;
  transition: width 1s linear; 
}

::-webkit-scrollbar:hover {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: 0 0 5px rgba(128, 128, 128, 0);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}

body {
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  
}

h1 {
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

p {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  all: unset;
}

a:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

button, i {
  all: unset;
  width: fit-content;
}

nav {
  margin: 0;
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: #0D0A29;
  display: flex;
  padding: 40px 0px 10px 40px;
}

.nav-links {
  display: flex;
  width: 85%;
}

.nav-links-left, .nav-links-right {
  width: 50%;
  display: flex;
}

.nav-links-right {
  justify-content: right;
  padding-right: 250px;
}

nav a {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: white;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  padding: 5px 20px 5px 20px;
}

nav a:hover {
  color: #fff5a0;
}

#nav-hamburger {
  display: none;
}

#hamburger-container {
  padding: 0px 0 0 10px;
  
}

#hamburger-container button {
  z-index: 100000000;
}

#register-button {
  position: fixed;
  background-color: #ffffff;
  color: #0D0A29;
  border-radius: 50px;
  border: 5 5 5 5;
  height: 45px;
  width: 130px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  text-align: center;
  z-index: 100000;
  top: 35px;
  right: 60px;
}

footer {
  background-color: #DCDAD3;
  padding: 50px 0 50px 80px;
  width: 100vw;
}

footer .directory {
  display: flex;
  flex-direction: row;
}

.copyright {
  text-align: center;
  margin: 40px 0 10px 0;
}

.copyright p {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

footer #label {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 30px;
  font-size: 20px;
}

.footerLinks {
  display: flex;
  flex-direction: column;
  margin: 0 5px 0 0;
}

.footerLinks a:hover {
  color: #797baf;
}

#vr-line1, #vr-line2 {
  padding: 0 50px 0 50px;
}

.footerContact {
  display: flex;
  flex-direction: column;
}

.footerContact a {
  font-family: 'Poppins', sans-serif;
}

.footerContact a:hover {
  color: #797baf;
}

#footer-register-button {
  background-color: #ffffff;
  margin: 20px 0 0 ;
  color: #0D0A29;
  height: 40px;
  width: 100px;
  border-radius: 50px;
  border: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-align: center;
}

.credits {
  text-align: center;
  font-size: 10px;
}

/* ------ MOBILE ------- */
@media screen and (max-width: 767px) {
  #register-button {
    top: 20px;
    right: 20px;
  }

  #hamburger-container {
    width: 100%;
    padding: 15px 0 0 20px;
  }

  
  #nav-hamburger {
    z-index: 10000;
    display: block;
    color: white;
    font-size: 50px;
  }

  .nav-links-left {
    display: none;
    width: 0%;
  }

  nav {
    z-index: 99;
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.937);
    width: 100vw;
    height: 100vh;
    padding: 0 0 0 0;
  }

  .nav-links {
    width: 100%;
    padding-top: 100px;
  }

  .nav-links-right {
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding-right: 0;
    padding-top: 150px;
  }

  .nav-links-right a {
    font-size: 2em;
    line-height: 80px;
    color: black;
  }

  .add-bg {
    background-color: rgba(255, 255, 255, 0.937);
  }
  
  footer {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    width: 100%;
    padding: 10px;
  }

  footer #label {
    font-weight: 700;
    letter-spacing: unset;
    font-size: 18px;
    line-height: 18px;
    margin: 5px 0 10px 0;
  }

  .footerContact { padding: 0 0 0 5px; }

  .footerLinks {
    display: none;
    width: 0%;
  }

  #vr-line1 {display: none;}

  .footerEvent {width: 40%;}

  .footerContact {
    width: 50%;
    font-size: 12px;
  }

  #footer-register-button { 
    margin-top: 10px;
    height: 30px;
    width: 80px;
    position: unset !important; 
  }

  #vr-line2 {
    height: 100%;
    margin: 0;
    padding: 0 5px 0 5px;
  }

  .credits {
    text-align: center;

  }

}