@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700;800&family=Work+Sans:wght@200;400&display=swap');

/* FONTS
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
*/

html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}

::-webkit-scrollbar {
  width: 5px;
  transition: width 1s linear; 
}

::-webkit-scrollbar:hover {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: 0 0 5px rgba(128, 128, 128, 0);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}

body {
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  
}

h1 {
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

p {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
